/* Common CSS Start */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  vertical-align: middle;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

h1,h2,h3,h4,h5,h6,p {
  line-height: 0.8;
  margin: 0;
}

:root {
  --primary-color: #111111;
  --seconday-color: #686868;
  --tertiary-color: #ffffff;
  --quaternary-color: #fec600;
  --quinary-color: #e4e4e4;
  --primary-font: 'Open Sans', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --regular-font-weight: 400;
  --medium-font-weight: 500;
  --semibold-font-weight: 600;
  --bold-font-weight: 700;
}
/* Common CSS End */

/* Navbar Area Start */
/* Navbar Area End */

/* Banner Area Start */
/* Banner Area End */

/* About Area Start */
/* About Area End */

/* Gallery Area Start */
/* Gallery Area End */

/* Team Area Start */
/* Team Area End */

/* Testimonial Area Start */
/* Testimonial Area End */

/* Membership Area Start */
/* Membership Area End */

/* Countdown Area Start */
/* Countdown Area End */

/* Classes Area Start */
/* Classes Area End */

/* Brand Area Start */
/* Brand Area End */

/* Footer Area Start */
/* Footer Area End */



/* Slick Slider Area Start */


.slick-arrow1 {
  position: absolute;
  top: 50%;
  left: 5%;
  color: rgba(0, 0, 0, 0.863);
  font-size: 30px;
  transform: translate(-50%);
  -webkit-transform: translate(-50%);
  -moz-transform: translate(-50%);
  -ms-transform: translate(-50%);
  -o-transform: translate(-50%);
  cursor: pointer;
  font-size: 20px;
  z-index: 1;
}

.slick-arrow1::after {
  position: absolute;
  content: '';
  top: -6px;
  left: -6px;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  z-index: -1;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
} 

.slick-arrow1:hover::after {
  background-color: #fec600;
}

.slick-arrow2 {
  position: absolute;
  top: 50%;
  right: 5%;
  color: rgba(0, 0, 0, 0.863);
  font-size: 30px;
  transform: translate(-50%);
  -webkit-transform: translate(-50%);
  -moz-transform: translate(-50%);
  -ms-transform: translate(-50%);
  -o-transform: translate(-50%);
  cursor: pointer;
  z-index: 1;
  font-size: 20px;
}

.slick-arrow2::after {
  position: absolute;
  content: '';
  top: -6px;
  left: -6px;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  z-index: -1;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.slick-arrow2:hover::after {
  background-color: #fec600;
}

/* Slick Slider Area End */
