/* Common CSS Start */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  vertical-align: middle;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  line-height: 0.8;
  margin: 0;
}

:root {
  --primary-color: #111111;
  --seconday-color: #686868;
  --tertiary-color: #ffffff;
  --quaternary-color: #28b8d8;
  --quinary-color: #e4e4e4;
  --primary-font: "Open Sans", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --regular-font-weight: 400;
  --medium-font-weight: 500;
  --semibold-font-weight: 600;
  --bold-font-weight: 700;
}
/* Common CSS End */

/* Navbar Area Start */
.navbar {
  background: #11111160;
  font-family: var(--secondary-font);
  position: absolute;
  width: 100%;
}

.nav-link {
  padding: 40px 0;
  position: relative;
}

.nav-link::after {
  position: absolute;
  content: '';
  height: 2px;
  width: 100%;
  left: 0;
  bottom: -8%;
  background-color: #28b8d8;
  transition: .6s;
  transform: scale(0);
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  -webkit-transition: .6s;
  -moz-transition: .6s;
  -ms-transition: .6s;
  -o-transition: .6s;
}

.nav-link:hover::after {
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
}

.nav-link {
  color: #fff;
  font-size: 18px;
}

.nav-link:hover {
  color: var(--quaternary-color);
}
/* Navbar Area End */

/* Banner Area Start */
#banner {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../images/banner.jpg) no-repeat center / cover;
  padding: 330px 0 240px 0;
}

.banner-text h3{
  font-size: 50px;
  line-height: 52px;
  color: var(--tertiary-color);
  font-family: var(--primary-font);
  font-weight: var(--regular-font-weight);
  padding: 0 50px;
}

.banner-text h3 span {
  color: #28b8d8;
}

.banner-text p {
  font-size: 14px;
  line-height: 42px;
  color: var(--tertiary-color);
  font-family: var(--secondary-font);
}
/* Banner Area End */

/* Service Area Start */
#service {
  padding: 80px 0;
  background: #f9f9f9;
}

.service-desc h3{
  font-size: 30px;
  line-height: 22px;
  font-weight: var(--medium-font-weight);
  font-family: var(--primary-font);
  text-transform: capitalize;
}

.service-desc p {
  font-size: 14px;
  line-height: 50px;
  font-family: var(--seconday-color);
  color: var(--seconday-color);
}

.service-desc h2 {
  font-family: var(--seconday-color);
  font-size: 22px;
  font-weight: 22px;
  color: var(--primary-color-color);
  text-transform: capitalize;
  margin: 70px 0 44px 0;
}

.service-inner {
  transition: .5s;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -ms-transition: .5s;
  -o-transition: .5s;
  padding: 30px;
  background-color: #ffffff;
  cursor: pointer;
}

.service-inner:hover {
  box-shadow: 1px 1px 25px 1px rgba(0, 0, 0, 0.185);
-webkit-box-shadow: 1px 1px 25px 1px rgba(0,0,0,0.33);
-moz-box-shadow: 1px 1px 25px 1px rgba(0,0,0,0.33);
}

.service-inner img {
  width: 100%;
}

.service-inner h3 {
  font-size: 17px;
  font-family: var(--secondary-font);
  line-height: 22px;
  font-weight: var(--semibold-font-weight);
  margin: 25px 18px;
}

.service-inner p {
  font-size: 14px;
  line-height: 20px;
  font-family: var(--primary-font);
  padding: 0 30px;
  color: var(--seconday-color)
  ;
}

/* Service Area End */

/* Gallery Area Start */
/* Gallery Area End */

/* Team Area Start */
/* Team Area End */

/* Testimonial Area Start */
/* Testimonial Area End */

/* Membership Area Start */
/* Membership Area End */

/* Countdown Area Start */
/* Countdown Area End */

/* Classes Area Start */
/* Classes Area End */

/* Brand Area Start */
/* Brand Area End */

/* Footer Area Start */
/* Footer Area End */
